<!DOCTYPE html> 
<html>
	
	<head>
		<title>Inventory</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>

	<body class="content">
		
		<h1>Company Name</h1>
		<div id="topbuttons">
			<form id="search" action="/search"> 
				<input name="id" class="field">
    			<input type="submit" value="Search">
			</form>
			<form action='/' id="all">
				<button>All</button>
			</form>
		</div>

		<table id="inventory">
			<thead>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Stock</th>
			</thead>
			<tbody> 
        		{% for row in value %}  
            		<tr> 
                		<td>{{row['id']}}</td> 
                		<td>{{row['name']}}</td> 
						<td>{{row['price']}}</td>
						<td>{{row['stock']}}</td>
						<td> <form  action="/delete"> <button type="submit" value={{row['id']}} name="id"> X </button> </form> </td>
            		</tr> 
        		{% endfor %} 
    		</tbody> 
		</table>
		
		<form id="add" method="POST" action="/add">
        	<input type="text" name="name" placeholder="Name">
        	<input type="text" name="price" placeholder="Price">
        	<input type="text" name="stock" placeholder="Stock">
        	<button type="submit" value="Submit">Add</button><br>
		</form>
	
	</body>

</html>
